<ul>
    {{#each this}}
    <li>
        <h2><a target="blank" href="{{html_url}}">{{name}}</a></h2>
        {{> authorPartial owner }}
        <p>Watchers: {{watchers_count}}</p>
        <p>Forks: {{forks_count}}</p>
        <p>Issues: {{open_issues_count}}</p>
    </li>
    {{/each}}
</ul>